html{

}

body{
    background-color: #979aaa;
    color: #faf0e6;
}

h1{
    font-family: Agdasima;
    color: rgb(00, 80, 80);
 }

 h2{
    font-family: Agdasima;
    color: #faf0e6
 }

 p{
    font-family: 'poiret one';
    color: #faf0e6
 }


.about_me{
    margin: 0px 25% 50px 25%;
    padding: 30px;
    border: 5px solid #7db8b3;
    border-radius: 15px;
    background-color: #faf0e6;
}

.about_me p{
    color: rgb(00, 80, 80);

}

.my_social{
    align-items: center;
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.my_social a{
    color: rgb(00, 80, 80);
}

.link_title{
    text-align: center;
}

.links{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 10px;
}

.links h2{
    color: #faf0e6;
}

.links a{
    text-decoration: none;
    font-family: 'poiret one';
    color: rgb(00, 80, 80);
}

.links a:hover{
    text-decoration:underline;
}
.link{
    text-align: center;
    padding: 10px;
    border: 5px solid #7db8b3;
    border-radius: 15px;
    box-shadow: 5px 5px black;
}

#d{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

@media only screen and (max-width: 600px) {

    h1{
        text-align: center;
    }

    .links{
        display: flex;
        flex-direction: column;
    }
} 
